<!DOCTYPE html>
<html>
	<head>
		<title>Profile</title>
		<style>
			div.profile{
				padding-top: 10em;
			}
			div.profileinfo{
				padding-top: 0px;
				padding-left: 25%;
			}
			div.sideprofile{
				margin: 0px;
				padding-left: 5em;
				width: 23%;
				float: left;
				clear: left;
			}
		</style>
		<link href="../../../static/_js/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet">
		<script src="../../../static/_js/_js/jquery-1.7.2.min.js"></script>
		<script src="../../../static/_js/_js/jquery.easing.1.3.js"></script>
		<script src="../../../static/_js/fancybox/jquery.fancybox-1.3.4.min.js"></script>

	</head>
	<body>
		<div class="profile">
		<div class="sideprofile">
			<div class="profilepicture"><img src="../../../static/image/vijay.jpg" title="Profile Picture" alt="Profile Picture" width="250" height="200"></div>
			<ul class="leftside">
				<li><a href="">Asked Question</a></li>
				<li><a href="">Edit Profile</a></li>
				<li><a href="">Find Users</a></li>
				<li><a href="">Change Password</a></li>
			</ul>
		</div>
		<div class="profileinfo">
			<h3>{{usr.first_name}} {{usr.last_name}}</h3>
			<p>Userid {{usr.username}}</p>
			<p>Email: {{usr.email}}</p>
			<p>Address: {{usr.addr}}</p>
			<p>Country: {{usr.country}}</p>
		</div>
		</div>
	</body>
</html>
