<!DOCTYPE html>
<html>
	<head>
		<title>Test1</title>
		<script src="../../../static/_js/_js/jquery-1.7.2.min.js"></script>
		<script src="../../../static/_js/_js/jquery.timer.js"></script>
	</head>
	<body>
		<form enctype="multipart/form-data" action="" method="post">
			<p>Nmae:  <input type="text" name="text" id="text">	</p>	
			<p>Image: <input type="file" name="image" id="image"></p>
			<p>Audio: <input type="file" name="mp3" id="mp3"></p>
			<p><input type="submit" value="Submit"></p>
		</form>
	</body>
</html>
